/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
.valuable-info__content{
    & h2{
        font-size: 25px;
    }
    & p{
        font-size: 17px;
    }
}